*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
    display: flex;
    justify-content:left;
    font-size: 300%;
    background-color: white;
}

h2{
    font-size: 150%;
    background-color: orange;
}

h3{
    font-size: 150%;
    display: flex;
    justify-content: left;
    background-color: pink;

}

body {
    display:flex;
    flex-direction: column;
    background-color: purple;
}
header {
    display:flex;
    justify-content:space-between;
    background-color: red;
}
.pageTitle {
}

.navigation {
    display: flex;
    justify-content:space-between;
    flex-flow: row wrap;
    font-size: 125%;
    background-color: blue;
}

.landing-card img {
    display: flex;
    justify-content: space-around;
    height: 10%;
    width: 75%;
    

   
}
.about-card {
    display: flex;
    justify-content: left;
    flex-flow: row wrap;
}
.about-card p {
    width: 75%;
    background-color: yellow ;
}

#cardTitle {
    display: flex;
    justify-content: left;
}

.work-card {
    /* display: flex;
    flex-flow: row wrap;
    justify-content: left; */
}
.block-card {
    display: flex;
    justify-content:space-between;
    flex-flow:column wrap;
}
.card{
    flex: auto;
    padding: 10px;
    text-align: right;
    border-style:hidden;
    border-width: 1px;
    /* display: flex;
    justify-content:center;
    flex-flow: row wrap; */
}
.card img{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 150px;
    background-color: brown;
}


.contactMe{
    display: flex;
    align-items: end;
}
.contacts{
    background-color: white;
}

footer{
    display: flex;
    align-items: end;
}